In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df.head()

                   A         B         C         D
2013-01-01  0.014574  0.005287  0.486157  0.152497
2013-01-02 -0.500253 -1.681885 -0.054668 -1.197728
2013-01-03  0.599686  0.652358  0.703485  0.573265
2013-01-04  0.838667  0.518982 -0.384641  2.053045
2013-01-05  0.352801  1.145472 -1.908042  0.391067

In [15]:
df[df["A"]>0]
df.agg(lambda x: np.mean(x) * 5.6)

A    1.557865
B   -0.584243
C   -1.591181
D    1.787337
dtype: float64

In [5]:
pd.Series([1, 2], dtype=np.int64).reindex([0, 1, 2])

0    1.0
1    2.0
2    NaN
dtype: float64

# Missing data

In [6]:
# Import data from CSV
daily_activity_data = pd.read_csv("data/dailyActivity_merged.csv", index_col="Id")
## Only specify specific columns
usecols = ["Id","ActivityDate","Calories","ModeratelyActiveDistance"]
daily_activity_data = pd.read_csv("data/dailyActivity_merged.csv", index_col="Id",usecols=usecols)
daily_activity_data.head()

           ActivityDate  ModeratelyActiveDistance  Calories
Id
1503960366    4/12/2016                      0.55      1985
1503960366    4/13/2016                      0.69      1797
1503960366    4/14/2016                      0.40      1776
1503960366    4/15/2016                      1.26      1745
1503960366    4/16/2016                      0.41      1863